{% extends 'base.html' %}

{% block title %}- List{% endblock %}

{% block content %}
{% for post in photos %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 panel panel-default">
<!--        <p><img src="{{post.photo.url}}" style="width:135%;" alt=""></p>-->
        <p><img src="{{post.photo.url}}" style="width:135%;" alt=""></p>



        <div class="row">
            <p>{{post.Description_R|linebreaksbr}}</p>
<!--            <div class="col-xs-12 col-sm-8">-->
<!--                <p>{{post.Description_R|linebreaksbr}}</p>-->
<!--            </div>-->
<!--            <div class="col-xs-6 col-sm-4">-->
<!--                <p>{{post.Description_L|linebreaksbr}}</p>-->
<!--            </div>-->

        </div>


        <button type="button" class="btn btn-xs btn-info">
            {{post.author.username}}
        </button>
        <p class="text-right">
            <a href="{% url 'deep_learning_model_prediction_app:photo_detail' pk=post.id %}" class="btn btn-xs btn-success">Reply</a>
        </p>
    </div>
    <div class="form-group row">
        {{ form.Type }}
        <div class="col-sm-8">
            {{ form.Type}}
        </div>
    </div>





    <div class="col-md-2"></div>

</div>
{% endfor %}

{% endblock %}